@font-face {
  font-family: 'ドット';
  src: url('PixelMplus10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'ドット',serif;
}



a:hover{
  text-decoration: none;
}

.main{
  margin: 150px 0 0 220px;
}

header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

h1{
  font-size: 3rem;
}

.bg-light{
  background-color: white !important;
  height: 60px;
}
body{
  background-color: #f8f9fa;

}

.grid-6{
  a{
    color: black;
  }
}

.btn1 {
  padding: 15px 70px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none !important;
  font-size: 60px;
  border-radius: 10px;
  // position: absolute;
  margin: auto;
}
.btn2 {
  background-color: black;
  color: #fff !important;
}
.btn1:hover {
  opacity: 1.0;
}

.btn3 {
  background-color: #f8f9fa;
  color: black !important;
  background-size: 200% 100%;	
  background-image: -webkit-linear-gradient(left, transparent 50%, rgb(63, 63, 73) 50%);	
  background-image: linear-gradient(to right, transparent 50%, rgb(63, 63, 73) 50%);
  -webkit-transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
  margin-top: 40px;
}
.btn3:hover {
  background-color: black;
  background-position: -100% 100%;
}

.post{
  color: black;
}
.container1{
  padding: 200px 0 0 240px;
}

.cont{
  display: flex;
}

.dropdown-item{
  a{
    color: black;
  }
}

.grid-6{
  margin:0 280px;
}

.btn-group{
  width: 100px;
  margin: 0;
}

.btn-secondary{
  color: black;
  background-color: #fff;
}

.img-thumbnail{
  margin: 40px 10px 0 40px;
  padding: 0;
}

.maincon{
  height: 100vh;
}

.postlist{
  height: 100vh;
  overflow: scroll;
}

.pagination {
  justify-content: center;
  margin-top: 30px;
}
.page-link{
  color: black;
  border-color: black;
}
.page-item.active .page-link{
  background-color: gray;
  border-color: gray;
}

.showcont{
  margin-top: 50px;
  overflow: scroll;
}

.showimg{
  position: relative;
  padding: inherit;
}

.more_list{
  position: absolute;
  margin: 9px 0 0 550px;
}

.box17{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.box17:before, .box17:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
  margin: 0; 
  padding: 0;
}

.btnedit{
  padding: inherit;
  height: 25px;
  width: 45px;
}

.ddedit{
  padding: inherit;
  width: 100px;
}
.col-lg-12{
  padding: inherit;
}
.col-lg-2{
  padding: inherit;
}
.col-lg-10{
  padding: inherit;
}

.mypage{
  font-size: 2rem;
  margin: 5px 0 -30px 50px;
}

.iine__button{
  background: linear-gradient(to right, #feb400, #FFE300);
  line-height: 42px;
  color: #6d3701;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
  border-radius: 100px;
  font-weight: bold;
}